 body {
     font-family: sans-serif;
     background-color: white;
 }
 
 .center {
     text-align: center;
 }
 
 .text-big {
     font-size: 300%;
 }
 
 .bold {
     font-weight: bold;
 }
 
 .img-medium {
     height: 500px;
 }
 
 .tophead {
     height: 50px;
     color: red;
 }
 .topheader {
      position: fixed;
      top : 0;
      left : 0;
      width:100%;
 
  }
  /* Add a black background color to the top navigation */
  .topnav {
     background-color: #33ccff;
     overflow: hidden;
 }
 /* Style the links inside the navigation bar */
 .topnav a {
     float: left;
     display: block;
     color: white;
     text-align: center;
     padding: 17px 19px;
     text-decoration: none;
     font-size: 25px;
 }
 
 /* Change the color of links on hover */
 .topnav a:hover {
     background-color: white;
     color: black;
 }
 
 /* Add a color to the active/current link */
 .topnav a:active {
     background-color: #4CAF50;
     color: white;
 }